{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create new auction</h2>
    <form class="form-group" action="{%url 'create_auctions'%}" method="POST">
        {% csrf_token %}
        <div>
            <label for="item_name">Enter item name:</label>
            <input class="form-control" autofocus type="text" class="form-control" name="item_name" id="item_name" placeholder="Enter title">
        </div>
        <div>
            <label for="description">Enter description:</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter description">
        </div>
        <div>
            <label for="image_url">Enter image url:</label>
            <input type="text" class="form-control" name="image_url" id="image_url" placeholder="Enter image url">
        </div>
        <div>
            <label for="price">Enter start price:</label>
            <input type="number" min="0" class="form-control" name="price" id="price" placeholder="Enter start price">
        </div>
        <div class="form-group">
            <label for="category">Choose a category:</label>
            <select id="category" name="category">
                {% for category in categories %}
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-outline-dark" type="submit">Create new auction</button>
    </form>
{% endblock %}